@keyframes waves {
  from {
    height: var(--initial-size);
    width: var(--initial-size);
  }
  to {
    height: var(--final-size);
    width: var(--final-size);
  }
}

#landing {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#landing-greeting {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--sarabun);
}

#landing-greeting > h1 {
  font-size: calc(2em + 5vw);
  font-weight: 400;
}

#landing-greeting > h3 {
  font-size: calc(1em + 3vw);
  font-weight: 200;
}

#landing-nav-btns {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  /* align-self: start; */
}











#background {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: radial-gradient(
      circle farthest-corner at -300px -300px, 
      red,
      #fb7d7d85 39.9%,
      #FB7D7D 40%,
      #E7C159 60%,
      #e7c1598d 60.1%,
      #DAEF41 80%, 
      #dbef4183 80.1%, 
      #D5FF39
    );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.circles {
  /* animation: waves 60s linear infinite; */
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

#one {
  --initial-size: 390vw;
  --final-size: 490vw;
  background-color: red;
  /* background-image: radial-gradient(
    circle farthest-side,
    #d9f1408b 80%,
    #D5FF39
  ); */
}
  
#two {
  --initial-size: 330vw;
  --final-size: 430vw;
  background-color: blue;
  /* background-image: radial-gradient(
    circle farthest-side,
    #E7C15983 80%,
    #DAEF41
  ); */
}
  
#three {
  --initial-size: 270vw;
  --final-size: 370vw;
  background-color: green;
  /* background-image: radial-gradient(
    circle farthest-side,
    #FB7D7D 80%,
    #E7C159
  ); */
}
  
#four {
  --initial-size: 210vw;
  --final-size: 310vw;
  background-color: purple;
  /* background-image: radial-gradient(
    circle farthest-side,
    rgb(255, 40, 40) 80%,
    #ffffff3e
  ); */
}
  
#five {
  --initial-size: 150vw;
  --final-size: 250vw;
  background-color: yellow;
  /* background-image: radial-gradient(
    circle farthest-side,
    rgb(40, 255, 94) 80%,
    #ffffff3e
  ); */
}
  
#six {
  --initial-size: 90vw;
  --final-size: 190vw;
  background-color: pink;
  /* background-image: radial-gradient(
    circle farthest-side,
    rgb(40, 255, 65) 80%,
    #ff00003e
  ); */
}
    
#seven {
  --initial-size: 30vw;
  --final-size: 130vw;
  background-color: orange;
  height: 0;
  width: 0;
  /* background-image: radial-gradient(
    circle farthest-side,
    rgb(255, 162, 40) 80%,
    #84cc103e
  ); */
}
