.about-text {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 95vh;
  margin-bottom: 100vh
}

#about-gif {
  width: 25%;
  border-radius: 2vmin;
  background-image: url('https://i.imgur.com/QWY6j8K.gif');
  margin-bottom: 100vh;
}

#expand-about-btn {
  cursor: pointer;
  background-color: rgb(222, 222, 222);
  padding: none;
  border-radius: 2vmin;
  transition: background-color 2s, color 2s, text-shadow 2s;
}

#expand-about-btn:hover {
  text-shadow: 1px 1px 2px black;
  background-color: rgba(222,222,222, 0);
  color: white;
}

#expand-about-btn > h2 {
  margin: 0;
}

#about-expanded {
  /* background-color: red; */
  width: 75%
}

.about-p {
  text-align: left;
}