.about-text {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 95vh;
  margin-bottom: 100vh
}

#about-gif {
  width: 25%;
  /* border: solid 1vmin black; */
  border-radius: 2vmin;
  background-image: url('https://i.imgur.com/QWY6j8K.gif');
  margin-bottom: 100vh;
  /* opacity: 0.5; */
}

#expand-about {
  /* background-image: radial-gradient(at 0% 0%, #FFF7AD, #FFA9F9, #2400FF); */
  background-color: rgba(222, 222, 222);
  padding: none;
  border-radius: 2vmin;
  transition: background-color 2s, color 2s;
}

#expand-about:hover {
  background-color: rgba(222,222,222, 0);
  color: white;
  border: 0.3vmin solid black
}

#expand-about > h2 {
  margin: 0;
}