.carousel {
  width: 100vw;
  margin-top: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 5fr 1fr;
}

.carousel-imgs {
  display: flex;
  position: relative;
  width: 100%;
}

.carousel-imgs > * {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 25vw;
  position: absolute;
  border-radius: 0.7vw;
  /* overflow: hidden; */
}

.box-shadow {
  z-index: 1;
  width: 50vw;
  height: 25vw;
  box-shadow: -10px 0px 10px black, 10px 0px 10px black;
}

.hide {
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.prev {
  transform: translateX(-65%);
}

.curr {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.curr.forward {
  animation: curr-forward 2s;
}

.box-shadow.forward {
  animation: shadow-forward 2s;
}

.curr.back {
  animation: curr-back 2s;
}

.box-shadow.back {
  animation: shadow-back 2s;
}


.next {
  transform: translateX(-35%);
}

@keyframes shadow-forward {
  from {
    opacity: 0%;
    transform: translateX(-35%);
  }
  
  50% {
    opacity: 0%;
    transform: translateX(-25%);
  }
  
  to {
    opacity: 100%;
    transform: translateX(-50%);
  }
}

@keyframes shadow-back {
  from {
    opacity: 0%;
    transform: translateX(-65%);
  }
  
  50% {
    opacity: 0%;
    transform: translateX(-75%);
  }
  
  to {
    opacity: 100%;
    transform: translateX(-50%);
  }
}

@keyframes curr-forward {
  from {
    transform: translateX(-35%);
  }
  
  50% {
    transform: translateX(-25%);
  }
  
  to {
    transform: translateX(-50%);
  }
}

@keyframes curr-back {
  from {
    transform: translateX(-65%);
  }
  
  50% {
    transform: translateX(-75%);
  }
  
  to {
    transform: translateX(-50%);
  }
}