.carousel {
  width: 100vw;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 5fr 1fr;
}

.carousel-imgs {
  display: flex;
}

.carousel-imgs > * {
  width: 30vw;
}

.img-preload {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}