#projects {
  height: 100vh;
  width: 100vw;
}

#vert-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 1vw;
  background-color: black;
}

#project-cards {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}