.display-1 {
  font-size: 50vmin;
  opacity: 0; 
  transform: translateY(50vmin); 
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}

@media (max-width: 768px) {
  .display-1 {
    color: blue
  }
}

@media (max-width: 576px) {
  .display-1 {
    color: red
  }
}

